{% extends 'html/base.html' %}
{% load static %}
{% block title %}<title>Hood-Watch|Home</title>{% endblock %}
 {% block css %}<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}

{% block content %}



<!--START OF ADD POST-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form action="/add-post/" method="post">
         {% csrf_token %}
       <div class="form-group">
          <label for="b-name">Name</label>
    <input type="text" class="form-control" name="b-name"  id="b-name" autofocus placeholder="Business Name">
  </div>

  <div class="form-group">
    <label for="b-email">Email</label>
    <input type="email" class="form-control" name="b-email" id="b-email" placeholder="Business Email" required>
  </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<a href="/add-post/" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Post
</a>




<!--START OF ADD BUSINESS-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Add Business</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/add-business/" method="post">
         {% csrf_token %}
       <div class="form-group">
          <label for="b-name">Name</label>
    <input type="text" class="form-control" name="b-name"  id="b-name" autofocus placeholder="Business Name">
  </div>

  <div class="form-group">
    <label for="b-email">Email</label>
    <input type="email" class="form-control" name="b-email" id="b-email" placeholder="Business Email" required>
  </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Add Business</button>




<!--START OF ADD NEIGHBORHOOD-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Add Neighborhood</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {{form}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
  Add Neighborhood
</button>








</body>
</html>

{% endblock %}